<div class="container">
  <div class="row">
    <div class="col">
      <!-- heading -->
      <h1 class="text-primary mt-4">
        <i class="fa-solid fa-eye text-warning"></i>
        View Contact Details
      </h1>
      <!-- dummy data -->
      <p style="text-align: justify;">
        This is a Dummy Text: However, although it looks like Latin, the original words from Cicero have been scrambled and interjected with meaningless filler text for reasons that defy history.According to McClintock, but it’s just a theory, a part of the original text was scrambled by 15th century typesetter who needed placeholder text to mockup various fonts for a type specimen book.No matter what the true history may be, today Lorem ipsum is widely used since it closely resembles English more than Latin, creating a natural looking block of text that doesn’t distract the reader from the layout.The passage became popularized in the 1960s when Letraset used it to advertise their dry-transfer sheets. It reached the digital world between the 1980s and 1990s when Aldus bundled the text in the word-processing templates of their desktop publishing software PageMaker.
      </p>
    </div>
  </div>
</div>

<!-- contact view -->
<div class="container border pt-3 pb-3">
  <div class="row align-item-center">
    <div class="col-md-4 text-center">
      <!-- contact image -->
      <img width="250px" height="290px" [src]="contact.photo" alt="contact-image" class="img-thumbnail rounded-3 img-fluid">
    </div>
    <div class="col-md-6">
      <!-- contact details -->
      <ul class="list-group mt-3">
        <li class="list-group-item">Name : <span class="fw-bolder ms-2">{{contact.name}}</span></li>
        <li class="list-group-item">Email : <span class="fw-bolder ms-2">{{contact.email}}</span></li>
        <li class="list-group-item">Phone : <span class="fw-bolder ms-2">{{contact.mobile}}</span></li>
        <li class="list-group-item">Company : <span class="fw-bolder ms-2">{{contact.company}}</span></li>
        <li class="list-group-item">Title : <span class="fw-bolder ms-2">{{contact.title}}</span></li>
        <li class="list-group-item">Group : <span class="fw-bolder ms-2">{{groupName}}</span></li>
      </ul>
    </div>
  </div>
</div>
