<div class="container">
  <div class="row">
    <div class="col">
      <!-- heading -->
      <h1 class="text-primary mt-4">
        <i class="fa-solid fa-pen me-1 text-warning"></i>
        Edit Contact
      </h1>
      <!-- dummy data -->
      <p style="text-align: justify;" class="text-secondary">
        This is a Dummy Text: However, although it looks like Latin, the original words from Cicero have been scrambled and interjected with meaningless filler text for reasons that defy history.According to McClintock, but it’s just a theory, a part of the original text was scrambled by 15th century typesetter who needed placeholder text to mockup various fonts for a type specimen book.No matter what the true history may be, today Lorem ipsum is widely used since it closely resembles English more than Latin, creating a natural looking block of text that doesn’t distract the reader from the layout.The passage became popularized in the 1960s when Letraset used it to advertise their dry-transfer sheets. It reached the digital world between the 1980s and 1990s when Aldus bundled the text in the word-processing templates of their desktop publishing software PageMaker.
      </p>
    </div>
  </div>
</div>
<!-- FOR TEST -->
<!-- <pre>
  {{contact | json}}
</pre> -->

<!-- contact form design -->
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <!-- form design -->
      <form #editContactForm="ngForm" class="border p-3 mb-5">
        <!-- id -->
        <div class="mb-2">
          <input name="id" [(ngModel)]="contact.id" #id="ngModel" class="form-control" type="text" placeholder="Contact Id" required>
        </div>
        <div *ngIf="id.invalid && id.touched" class="text-danger mb-2">Please Enter Valid Id</div>
        <!-- name -->
        <div class="mb-2">
          <input name="name" [(ngModel)]="contact.name" #name="ngModel" class="form-control" type="text" placeholder="Contact Name" required>
        </div>
        <div *ngIf="name.invalid && name.touched" class="text-danger mb-2">Please Enter Valid Name</div>
        <!-- image -->
        <div class="mb-2">
          <input name="photo" [(ngModel)]="contact.photo" #image="ngModel" class="form-control" type="text" placeholder="Contact Image URL" required>
        </div>
        <div *ngIf="image.invalid && image.touched" class="text-danger mb-2">Please Enter Valid URL</div>
        <!-- Phone -->
        <div class="mb-2">
          <input name="mobile" [(ngModel)]="contact.mobile" minlength="10" maxlength="10" pattern="[0-9]*" #phone="ngModel" class="form-control" type="text" placeholder="Contact Phone Number" required>
        </div>
        <div *ngIf="phone.invalid && phone.touched" class="text-danger mb-2">Please Enter Valid Mobile Number</div>
        <!-- email -->
        <div class="mb-2">
          <input name="email" [(ngModel)]="contact.email" email #email="ngModel" class="form-control" type="text" placeholder="Contact Email" required>
        </div>
        <div *ngIf="email.invalid && email.touched" class="text-danger mb-2">Please Enter Valid Email Id</div>
        <!-- Company -->
        <div class="mb-2">
          <input name="company" [(ngModel)]="contact.company" #company="ngModel" class="form-control" type="text" placeholder="Contact Company Name" required>
        </div>
        <div *ngIf="company.invalid && company.touched" class="text-danger mb-2">Please Enter Valid Company Name</div>
        <!-- title -->
        <div class="mb-2">
          <input name="title" [(ngModel)]="contact.title" #title="ngModel" class="form-control" type="text" placeholder="Contact Title" required>
        </div>
        <div *ngIf="title.invalid && title.touched" class="text-danger mb-2">Please Enter Valid Title</div>
        <!-- id -->
        <div class="mb-2">
          <select name="groupId" [(ngModel)]="contact.groupId" pattern="[0-9]" #groupId="ngModel" id="" class="form-control" required>
            <option selected hidden disabled>Choose A Group</option>
            <option [value]="group.id" *ngFor="let group of allGroups">{{group.name}}</option>
          </select>
        </div>
        <div *ngIf="groupId.invalid && groupId.touched" class="text-danger mb-2">Please Enter Valid Group</div>
        <!-- button -->
        <div class="pt-2">
          <input (click)="editContact(contact)" class="btn btn-success" [disabled]="editContactForm.invalid" type="button" value="Update">
          <a routerLink="" class="btn btn-danger ms-3">Close</a>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <!-- image -->
      <div class="border p-2 text-center">
        <img width="370px" src="{{contact.photo}}" alt="contact-image">
      </div>
    </div>
  </div>
</div>

